.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgray;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;

    .image-container {
        width: 20%;
        padding-right: 10px;
        
        img {
            width: 80%;
            height: 100%;
        }
    }

    .name, 
    .quantity, 
    .price {
        width: 23%;
    }
    .price{
      margin-left: -5%;
    }

    .remove-button {
        padding-left: 12px;
        cursor: pointer;
        margin-left: -4%;
    }
}